---
import ThemeToggle from './ThemeToggle.astro';
---

<footer class="flex justify-between items-center">
  <div class="flex space-x-4">
    <a href="https://x.com/sergedottech" class="text-foreground hover:text-muted transition-colors" target="_blank" aria-label="ğ•">ğ•</a>
    <a href="https://github.com/sergical" class="text-foreground hover:text-muted transition-colors" target="_blank" aria-label="GitHub">GitHub</a>
    <a href="https://www.linkedin.com/in/sergical/" class="text-foreground hover:text-muted transition-colors" target="_blank" aria-label="LinkedIn">LinkedIn</a>
    <a href="https://portfolio-template.v0.build/" class="text-foreground hover:text-muted transition-colors" target="_blank" aria-label="Instagram">Inspired by</a>
  </div>
  <ThemeToggle />
</footer>