---
import ThemeSelect from './ThemeSelect.tsx';

// Get the current theme from cookies
const theme = Astro.cookies.get('theme')?.value || 'light';
---

<footer class="flex justify-between items-center">
  <div class="flex space-x-4">
    <a href="https://x.com/sergedottech" class="text-foreground hover:text-muted transition-colors" target="_blank" aria-label="ğ•">ğ•</a>
    <a href="https://github.com/sergical" class="text-foreground hover:text-muted transition-colors" target="_blank" aria-label="GitHub">GitHub</a>
    <a href="https://www.linkedin.com/in/sergical/" class="text-foreground hover:text-muted transition-colors" target="_blank" aria-label="LinkedIn">LinkedIn</a>
    <a href="https://portfolio-template.v0.build/" class="text-foreground hover:text-muted transition-colors" target="_blank" aria-label="Instagram">Inspired by</a>
  </div>
  <div class="flex space-x-4">
    <ThemeSelect client:load initialTheme={theme} />
  </div>
</footer>